<launch>

  <arg name="delay_sec" default="0"/>

  <node pkg="terrain_analysis"
        type="terrainAnalysis"
        name="terrainAnalysis"
        output="screen"
        required="true"
        launch-prefix="bash -c 'sleep $(arg delay_sec); exec &quot;$0&quot; &quot;$@&quot;'">
    <param name="scanVoxelSize" type="double" value="0.05" />
    <param name="decayTime" type="double" value="1.5" />
    <param name="noDecayDis" type="double" value="4.0" />
    <param name="clearingDis" type="double" value="10.0" />
    <param name="useSorting" type="bool" value="false" />
    <param name="quantileZ" type="double" value="0.2" />
    <param name="considerDrop" type="bool" value="true" />
    <param name="limitGroundLift" type="bool" value="false" />
    <param name="maxGroundLift" type="double" value="0.2" />
    <param name="clearDyObs" type="bool" value="true" />
    <param name="minDyObsDis" type="double" value="0.2" />
    <param name="minDyObsAngle" type="double" value="10" />
    <param name="minDyObsRelZ" type="double" value="-0.3" />
    <param name="absDyObsRelZThre" type="double" value="0.2" />
    <param name="minDyObsVFOV" type="double" value="-16.0" />
    <param name="maxDyObsVFOV" type="double" value="16.0" />
    <param name="minDyObsPointNum" type="int" value="5" />
    <param name="noDataObstacle" type="bool" value="false" />
    <param name="noDataBlockSkipNum" type="int" value="0" />
    <param name="minBlockPointNum" type="int" value="10" />
    <param name="vehicleHeight" type="double" value="0.3" />
    <param name="voxelPointUpdateThre" type="int" value="100" />
    <param name="voxelTimeUpdateThre" type="double" value="2.0" />
    <param name="minRelZ" type="double" value="-0.2" />
    <param name="maxRelZ" type="double" value="0.2" />
    <param name="disRatioZ" type="double" value="0.2" />
  </node>

</launch>
