<launch>

 <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_footprint base_link 50" />
  <node
    name="tf_body_footprint"
    pkg="tf"
    type="static_transform_publisher"
    args="-0.254900 0.003761 -0.228830 0 0 0 body base_footprint 50" />

  <arg name="model" />
  <arg name="delay_sec" default="0" />

  <param name="robot_description" textfile="$(find car)/urdf/car.urdf" />

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"
    launch-prefix="bash -c 'sleep $(arg delay_sec); $0 $@'" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    launch-prefix="bash -c 'sleep $(arg delay_sec); $0 $@'" />

  <!-- <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find car)/urdf.rviz" /> -->
</launch>
