<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000242992066664532 -0.00653447053537559 0.110444365960748"
        rpy="0 0 0" />
      <mass
        value="14.5049759407965" />
      <inertia
        ixx="0.0489203579806679"
        ixy="4.20769710683532E-05"
        ixz="-6.95903600616511E-07"
        iyy="0.0488678386286656"
        iyz="0.000587582172115045"
        izz="0.0787028226185663" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_back_swing_arm">
    <inertial>
      <origin
        xyz="-0.0145131403555471 0.152815765842152 0.0700063697256281"
        rpy="0 0 0" />
      <mass
        value="1.59994666091541" />
      <inertia
        ixx="0.0114572721968805"
        ixy="7.87969735488581E-08"
        ixz="3.61013921912426E-08"
        iyy="0.00301043169234694"
        iyz="-0.00325842658363855"
        izz="0.00863030834962193" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/left_back_swing_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/left_back_swing_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_swing_arm_joint"
    type="continuous">
    <origin
      xyz="-0.2515 0.267109528305508 0.0649930169157672"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="left_back_swing_arm" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="right_back_swing_arm">
    <inertial>
      <origin
        xyz="-0.0145131411491585 0.136985925671935 -0.0974084506497851"
        rpy="0 0 0" />
      <mass
        value="1.59994666091541" />
      <inertia
        ixx="0.0114572721968805"
        ixy="7.06378145037426E-08"
        ixz="-5.02252198632069E-08"
        iyy="0.00440756954506309"
        iyz="0.00406412254083762"
        izz="0.00723317049690598" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/right_back_swing_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/right_back_swing_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_swing_arm_joint"
    type="continuous">
    <origin
      xyz="-0.249000000000455 -0.266889266928036 0.0661273337114438"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="right_back_swing_arm" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="left_ahead_swing_arm">
    <inertial>
      <origin
        xyz="0.0145131403555436 0.150438448033176 0.0749788199663907"
        rpy="0 0 0" />
      <mass
        value="1.59994666091558" />
      <inertia
        ixx="0.0114572721968805"
        ixy="-7.75740604766822E-08"
        ixz="-3.8659264017305E-08"
        iyy="0.00322990854334353"
        iyz="-0.00343549218374419"
        izz="0.00841083149862512" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/left_ahead_swing_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/left_ahead_swing_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ahead_swing_arm_joint"
    type="continuous">
    <origin
      xyz="0.251499999999997 0.267109528305623 0.064993016915769"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="left_ahead_swing_arm" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="right_ahead_swing_arm">
    <inertial>
      <origin
        xyz="0.0145131403555152 0.136832435577331 -0.097623945136837"
        rpy="0 0 0" />
      <mass
        value="1.59994666091772" />
      <inertia
        ixx="0.0114572721968805"
        ixy="-7.05547210990607E-08"
        ixz="5.03418800253557E-08"
        iyy="0.00442049439343818"
        iyz="0.00406859256243609"
        izz="0.00722024564853093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/right_ahead_swing_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/right_ahead_swing_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ahead_swing_arm_joint"
    type="continuous">
    <origin
      xyz="0.251499999999997 -0.266889266941522 0.0661273337114879"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="right_ahead_swing_arm" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="left_back_wheel">
    <inertial>
      <origin
        xyz="-7.41767758327683E-15 -2.90323320939478E-14 1.36025357644343E-11"
        rpy="0 0 0" />
      <mass
        value="0.0766649138440825" />
      <inertia
        ixx="4.71427888210032E-05"
        ixy="1.62546205140122E-21"
        ixz="5.18152225724961E-22"
        iyy="2.61268915386377E-05"
        iyz="-1.36818689078923E-21"
        izz="2.61268915386377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.216000000000004 0.174999278050617 0.0131885595980792"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="left_back_wheel" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="right_back_wheel">
    <inertial>
      <origin
        xyz="-7.38298311375729E-15 -2.68118860446975E-14 1.36023969865562E-11"
        rpy="0 0 0" />
      <mass
        value="0.0766649138440825" />
      <inertia
        ixx="4.71427888210032E-05"
        ixy="1.66316272213357E-21"
        ixz="4.10529981541107E-22"
        iyy="2.61268915386377E-05"
        iyz="-3.02539962718674E-22"
        izz="2.61268915386377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.216000000000004 -0.174999932317364 0.0139320256626821"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="right_back_wheel" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="left_ahead_wheel">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 5.55111512312578E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.0766649138440825" />
      <inertia
        ixx="4.71427888210033E-05"
        ixy="1.44315563663137E-21"
        ixz="1.38136987148034E-22"
        iyy="2.61268915386377E-05"
        iyz="2.80031590558142E-35"
        izz="2.61268915386377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ahead_wheel_joint"
    type="continuous">
    <origin
      xyz="0.215999999999997 0.174999278050727 0.013188559598079"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="left_ahead_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="right_ahead_wheel">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 4.67321526326225E-06 -0.00219999503659868"
        rpy="0 0 0" />
      <mass
        value="0.0766649138440825" />
      <inertia
        ixx="4.71427888210033E-05"
        ixy="1.55972120514441E-21"
        ixz="-7.82752645264428E-22"
        iyy="2.61268915386377E-05"
        iyz="5.24888319341997E-21"
        izz="2.61268915386377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ahead_wheel_joint"
    type="continuous">
    <origin
      xyz="0.215999999999997 -0.172799937280656 0.0139273524474186"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="right_ahead_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="0.0019263 -0.012533 -5.5511E-17"
        rpy="0 0 0" />
      <mass
        value="0.041404" />
      <inertia
        ixx="7.1879E-06"
        ixy="-2.4188E-07"
        ixz="-5.7834E-21"
        iyy="1.2823E-05"
        iyz="-1.0153E-21"
        izz="9.8649E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/IMU.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 -0.095 0.261"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="0 0.004508 0"
        rpy="0 0 0" />
      <mass
        value="0.1808" />
      <inertia
        ixx="8.7802E-05"
        ixy="3.1032E-21"
        ixz="-1.5119E-20"
        iyy="0.0001245"
        iyz="-8.4703E-22"
        izz="8.7802E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/rplidar_a3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/rplidar_a3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.00083897 -0.18046 0.38393"
      rpy="0.0217036732051 -0.0032179 3.1415" />
    <parent
      link="base_link" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="3.8997E-10 -4.5946E-11 0.018486"
        rpy="0 0 0" />
      <mass
        value="0.22447" />
      <inertia
        ixx="5.0782E-05"
        ixy="2.4278E-13"
        ixz="-3.0018E-12"
        iyy="0.00058009"
        iyz="3.6208E-13"
        izz="0.00057281" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/Astra2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/Astra2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0 -0.308 0.228"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- ========================== Camera TF chain ========================== -->

  <link name="camera_bottom_screw_frame"/>
  <joint name="camera_bottom_screw_frame" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_bottom_screw_frame"/>
    <origin xyz="-0.012323995999904 -0.0374999999985815 -0.0281503197112" rpy="0 0 0"/>
  </joint>

  <link name="camera_depth_frame"/>
  <joint name="camera_depth_frame" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_depth_optical_frame"/>
  <joint name="camera_depth_optical_frame" type="fixed">
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5707963267949 0 -1.5707963267949"/>
  </joint>

  <link name="camera_ir_frame"/>
  <joint name="camera_ir_frame" type="fixed">
    <parent link="camera_depth_frame"/>
    <child link="camera_ir_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_ir_optical_frame"/>
  <joint name="camera_ir_optical_frame" type="fixed">
    <parent link="camera_ir_frame"/>
    <child link="camera_ir_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5707963267949 0 -1.5707963267949"/>
  </joint>

  <link name="camera_color_frame"/>
  <joint name="camera_color_frame" type="fixed">
    <parent link="camera_depth_frame"/>
    <child link="camera_color_frame"/>
    <origin xyz="0.0025420000310987234 -0.01850000023841858 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_color_optical_frame"/>
  <joint name="camera_color_optical_frame" type="fixed">
    <parent link="camera_color_frame"/>
    <child link="camera_color_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5707963267949 0 -1.5707963267949"/>
  </joint>

  <link name="camera_infra2_frame"/>
  <joint name="camera_infra2_joint" type="fixed">
    <parent link="camera_ir_frame"/>
    <child link="camera_infra2_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_infra2_optical_frame"/>
  <joint name="camera_infra2_optical_joint" type="fixed">
    <parent link="camera_infra2_frame"/>
    <child link="camera_infra2_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="camera_imu_frame"/>
  <joint name="camera_imu_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_imu_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_imu_optical_frame"/>
  <joint name="camera_imu_optical_joint" type="fixed">
    <parent link="camera_imu_frame"/>
    <child link="camera_imu_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="camera_accel_frame"/>
  <joint name="camera_accel_joint" type="fixed">
    <parent link="camera_imu_frame"/>
    <child link="camera_accel_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_accel_optical_frame"/>
  <joint name="camera_accel_optical_joint" type="fixed">
    <parent link="camera_accel_frame"/>
    <child link="camera_accel_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="camera_gyro_frame"/>
  <joint name="camera_gyro_joint" type="fixed">
    <parent link="camera_imu_frame"/>
    <child link="camera_gyro_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_gyro_optical_frame"/>
  <joint name="camera_gyro_optical_joint" type="fixed">
    <parent link="camera_gyro_frame"/>
    <child link="camera_gyro_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <!-- ========================== Gazebo ========================== -->
  <gazebo reference="left_ahead_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>
  <gazebo reference="left_back_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>
  <gazebo reference="right_ahead_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>
  <gazebo reference="right_back_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="lidar">
    <sensor type="ray" name="laser_sensor">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>40</update_rate>
      <visualize>false</visualize>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159265359</min_angle>
            <max_angle>3.14159265359</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="laser_plugin" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>lidar</frameName>
        <minRange>0.1</minRange>
        <maxRange>30.0</maxRange>
        <noiseStdDev>0.01</noiseStdDev>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor type="depth" name="camera_depth">
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>30.0</update_rate>
      <camera name="depth_camera">
        <horizontal_fov>1.5184364492350666</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>RGB_INT8</format>
        </image>
        <clip>
          <near>0.105</near>
          <far>10.0</far>
        </clip>
      </camera>
    </sensor>

    <sensor type="camera" name="camera_ired1">
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>30.0</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <camera name="infrared1_camera">
        <horizontal_fov>1.5184364492350666</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.105</near>
          <far>10.0</far>
        </clip>
      </camera>
    </sensor>

    <sensor type="camera" name="camera_ired2">
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>30.0</update_rate>
      <pose>0 -0.050 0 0 0 0</pose>
      <camera name="infrared2_camera">
        <horizontal_fov>1.5184364492350666</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.105</near>
          <far>10.0</far>
        </clip>
      </camera>
    </sensor>

    <sensor type="camera" name="camera_color">
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>30.0</update_rate>
      <pose>0 0.015 0 0 0 0</pose>
      <camera name="color_camera">
        <horizontal_fov>1.211258531</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>RGB_INT8</format>
        </image>
        <clip>
          <near>0.105</near>
          <far>10.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="camera_imu_frame">
    <sensor type="imu" name="camera_imu_sensor">
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>200.0</update_rate>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00244</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00244</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00244</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.018</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.018</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.018</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
      <plugin name="camera_imu_plugin" filename="libgazebo_ros_imu_sensor.so">
        <topicName>/camera/imu</topicName>
        <frameName>camera_imu_frame</frameName>
        <updateRateHZ>200.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="orbbec_astra_controller" filename="librealsense_gazebo_plugin.so">
      <prefix>camera_</prefix>
      <depthUpdateRate>30.0</depthUpdateRate>
      <colorUpdateRate>30.0</colorUpdateRate>
      <infraredUpdateRate>30.0</infraredUpdateRate>
      <depthTopicName>/camera/depth/image_rect_raw</depthTopicName>
      <depthCameraInfoTopicName>/camera/depth/camera_info</depthCameraInfoTopicName>
      <colorTopicName>/camera/color/image_raw</colorTopicName>
      <colorCameraInfoTopicName>/camera/color/camera_info</colorCameraInfoTopicName>
      <infrared1TopicName>/camera/ir/image_raw</infrared1TopicName>
      <infrared1CameraInfoTopicName>/camera/ir/camera_info</infrared1CameraInfoTopicName>
      <infrared2TopicName>/camera/ir_right/image_raw</infrared2TopicName>
      <infrared2CameraInfoTopicName>/camera/ir_right/camera_info</infrared2CameraInfoTopicName>
      <colorOpticalframeName>camera_color_optical_frame</colorOpticalframeName>
      <depthOpticalframeName>camera_depth_optical_frame</depthOpticalframeName>
      <infrared1OpticalframeName>camera_ir_optical_frame</infrared1OpticalframeName>
      <infrared2OpticalframeName>camera_infra2_optical_frame</infrared2OpticalframeName>
      <rangeMinDepth>0.105</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <pointCloud>true</pointCloud>
      <pointCloudTopicName>/camera/depth_registered/points</pointCloudTopicName>
      <pointCloudCutoff>0.105</pointCloudCutoff>
      <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <ros>
        <namespace></namespace>
      </ros>
      <publishOdom>ture</publishOdom>
      <publishOdomTF>ture</publishOdomTF>
      <publishWheelTF>false</publishWheelTF>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>
      <leftJoint>left_ahead_wheel_joint</leftJoint>
      <leftJoint>left_back_wheel_joint</leftJoint>
      <rightJoint>right_ahead_wheel_joint</rightJoint>
      <rightJoint>right_back_wheel_joint</rightJoint>
      <wheelSeparation>0.438</wheelSeparation>
      <wheelDiameter>0.058</wheelDiameter>
      <wheelTorque>10.0</wheelTorque>
      <wheelAcceleration>10.0</wheelAcceleration>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <updateRate>100</updateRate>
    </plugin>
  </gazebo>
</robot>
