<?xml version="1.0"?>
<launch>
  <arg name="node_name" default="vehicle_cropbox_filter" />
  <arg name="input_topic" default="/cloud_registered" />
  <arg name="output_topic" default="/cloud_registered_ego_filtered" />
  <arg name="crop_frame" default="base_link" />
  <arg name="output_frame" default="" />
  <arg name="min_x" default="-0.38" />
  <arg name="max_x" default="0.38" />
  <arg name="min_y" default="-0.28" />
  <arg name="max_y" default="0.28" />
  <arg name="min_z" default="-0.20" />
  <arg name="max_z" default="0.45" />
  <arg name="negative" default="true" />
  <arg name="keep_organized" default="false" />

  <node pkg="nodelet"
        type="nodelet"
        name="$(arg node_name)"
        args="standalone pcl/CropBox"
        output="screen">
    <param name="min_x" value="$(arg min_x)" />
    <param name="max_x" value="$(arg max_x)" />
    <param name="min_y" value="$(arg min_y)" />
    <param name="max_y" value="$(arg max_y)" />
    <param name="min_z" value="$(arg min_z)" />
    <param name="max_z" value="$(arg max_z)" />
    <param name="negative" value="$(arg negative)" />
    <param name="keep_organized" value="$(arg keep_organized)" />
    <param name="input_frame" value="$(arg crop_frame)" />
    <param name="output_frame" value="$(arg output_frame)" />

    <remap from="~input" to="$(arg input_topic)" />
    <remap from="~output" to="$(arg output_topic)" />
  </node>
</launch>
