<launch>

  <include file="$(find loam_interface)/launch/loam_interface.launch" />

  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch">
    <arg name="delay_sec" value="5" />
  </include>

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch">
    <arg name="checkTerrainConn" value="false" />
    <arg name="delay_sec" value="10" />
  </include>

</launch>
