<launch>

  <!-- base TARE 启动顺序：
       loam_interface -> terrain_analysis -> terrain_analysis_ext -> local_planner -> sensor_scan_generation
       各阶段默认相隔 5 秒 -->

  <arg name="terrain_analysis_delay_sec" default="3" />
  <arg name="terrain_analysis_ext_delay_sec" default="6" />
  <arg name="local_planner_delay_sec" default="9" />
  <arg name="sensor_scan_generation_delay_sec" default="12" />

  <include file="$(find loam_interface)/launch/loam_interface.launch" />

  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch">
    <arg name="delay_sec" value="$(arg terrain_analysis_delay_sec)" />
  </include>

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch">
    <arg name="checkTerrainConn" value="false" />
    <arg name="delay_sec" value="$(arg terrain_analysis_ext_delay_sec)" />
  </include>

  <include file="$(find local_planner)/launch/local_planner.launch">
    <arg name="delay_sec" value="$(arg local_planner_delay_sec)" />
  </include>

  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch">
    <arg name="delay_sec" value="$(arg sensor_scan_generation_delay_sec)" />
  </include>

</launch>
