<launch>

  <arg name="bridge_map_to_camera_init" default="true"/>
  <arg name="map_frame" default="map"/>
  <arg name="fastlio_world_frame" default="camera_init"/>

  <node pkg="loam_interface" type="loamInterface" name="loamInterface" output="screen" required="true">
    <param name="stateEstimationTopic" type="string" value="/Odometry" />
    <param name="registeredScanTopic" type="string" value="/cloud_registered_ego_filtered" />
    <param name="flipStateEstimation" type="bool" value="false" />
    <param name="flipRegisteredScan" type="bool" value="false" />
    <param name="sendTF" type="bool" value="true" />
    <param name="reverseTF" type="bool" value="false" />
  </node>

  <group if="$(arg bridge_map_to_camera_init)">
    <node pkg="tf"
          type="static_transform_publisher"
          name="tf_map_to_camera_init_bridge"
          args="0 0 0 0 0 0 $(arg map_frame) $(arg fastlio_world_frame) 100" />
  </group>

</launch>
